/* line 3, admin.scss */
#wp-dash-search-box, #wp-dash-search-box * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 7, admin.scss */
#wp-dash-search-box {
  z-index: 999999;
  position: fixed;
  left: 50%;
  margin-left: -300px;
  top: 50px;
  width: 600px;
  padding: 10px;
  background: #DDD;
  border: 3px solid #999;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: none; }
  /* line 19, admin.scss */
  #wp-dash-search-box input {
    width: 80%;
    height: 50px;
    font-size: 20px; }

/* line 27, admin.scss */
#wp-dash-results-wrapper {
  display: none; }

/* line 31, admin.scss */
#wp-dash-results {
  background: #EEE;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
  margin-top: 10px; }
  /* line 36, admin.scss */
  #wp-dash-results .result {
    display: block;
    width: 100%;
    border-bottom: 1px solid #999;
    margin: 0;
    font-size: 20px;
    line-height: 20px; }
    /* line 43, admin.scss */
    #wp-dash-results .result:last-child {
      border-bottom: none; }
    /* line 46, admin.scss */
    #wp-dash-results .result a {
      padding: 10px;
      text-decoration: none;
      display: block; }
    /* line 51, admin.scss */
    #wp-dash-results .result.selected {
      background: #CCC; }
